@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	var selection = Umbraco.Content(Guid.Parse("1621f532-a9b9-4e92-8907-0fa867697b45"))
    .ChildrenOfType("projectItemTemplate")
    .Where(x => x.IsVisible())
	.Take(4);
}

<section id="recent-projects">
    <div class="container">
        <div class="projects">
            @if (pagedItems != null){
                @foreach (var item in pagedItems) {

                var image = item?.Value<IPublishedContent>("thumbnailImage")?.Url() ?? "";
                var premable = item?.Value<string>("premable") ?? "";
                var date = item?.Value<string>("date") ?? "";

                <a href="@item.Url()">
                    <div class="projects-item">                      
                        <div class="projects-body">
                            <img src="@image" alt="item.Name">
                        </div>
                        <div class="text">
                            <div class="projects-header">
                                <h4>@item.Name()</h4>
                            </div>
                            <div class="date">
                                <p><i class="fa-solid fa-calendar-days"></i>@date</p>
                            </div>
                            <div class="projects-footer">
                                <p>Financial Services</p>
                            </div>
                        </div>                       
                    </div>
                </a>
            }
            }          
        </div>
    </div>
</section>