<?xml version="1.0" encoding="utf-8"?>
<Content Key="1621f532-a9b9-4e92-8907-0fa867697b45" Alias="Projects" Level="2">
  <Info>
    <Parent Key="bff78f67-b284-4d1d-9670-40bed23c2423">Home</Parent>
    <Path>/Home/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>projectListPage</ContentType>
    <CreateDate>2024-09-19T15:02:49</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b8346307-485f-4340-a302-a679253852f5">projectListPage</Template>
  </Info>
  <Properties>
    <headline>
      <Value><![CDATA[]]></Value>
    </headline>
    <pageTitle>
      <Value><![CDATA[Our Projects]]></Value>
    </pageTitle>
  </Properties>
</Content>