<?xml version="1.0" encoding="utf-8"?>
<Content Key="e7a81042-c5a0-4340-ad95-10c546f2c0a6" Alias="Services" Level="2">
  <Info>
    <Parent Key="bff78f67-b284-4d1d-9670-40bed23c2423">Home</Parent>
    <Path>/Home/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceListPage</ContentType>
    <CreateDate>2024-09-13T15:34:01</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="951c4617-07af-411a-aef9-6e8f6087fb3b">serviceListPage</Template>
  </Info>
  <Properties>
    <customHeadline>
      <Value><![CDATA[We Provide The Solutions To Grow Your Business Faster]]></Value>
    </customHeadline>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
  </Properties>
</Content>