<?xml version="1.0" encoding="utf-8"?>
<Content Key="209a9f15-c0f0-4705-8674-f1a834dee926" Alias="Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Settings</Path>
    <Trashed>false</Trashed>
    <ContentType>settingsPage</ContentType>
    <CreateDate>2024-09-04T20:44:42</CreateDate>
    <NodeName Default="Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <officeEmailAddress>
      <Value><![CDATA[umbrella@onatrix.com]]></Value>
    </officeEmailAddress>
    <officeLocation>
      <Value><![CDATA[Klarabergsviadukten 90, 111 64 Stockholm]]></Value>
    </officeLocation>
    <officePhoneNumber>
      <Value><![CDATA[+ 46 754 8 874]]></Value>
    </officePhoneNumber>
    <siteLogotype>
      <Value><![CDATA[[
  {
    "key": "3c8d96fc-629c-46a5-86e7-e934cc888abb",
    "mediaKey": "a5d56a8f-f372-4414-8532-e595c26bdf41",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogotype>
    <siteName>
      <Value><![CDATA[Onatrixo]]></Value>
    </siteName>
    <siteTagline>
      <Value><![CDATA[This is my tagline.]]></Value>
    </siteTagline>
    <socialMediaPlatform>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "19feace8-f71a-42ad-83f4-980fa6b63c7b",
      "udi": "umb://element/2c0f0d68aaa449809b5c29f265180824",
      "platformName": "[\u0022Facebook\u0022]",
      "platgformAccountUrl": "https://facebook.com"
    },
    {
      "contentTypeKey": "19feace8-f71a-42ad-83f4-980fa6b63c7b",
      "udi": "umb://element/630c36b9076d45f19a909fb70b9b57fd",
      "platformName": "[\u0022LinkedIn\u0022]",
      "platgformAccountUrl": "https://x.com"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/2c0f0d68aaa449809b5c29f265180824",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/630c36b9076d45f19a909fb70b9b57fd",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </socialMediaPlatform>
  </Properties>
</Content>