@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper;
@{
    var rootContents = UmbracoHelper.ContentAtRoot();
    var settings = rootContents?.FirstOrDefault(x => x.ContentType.Alias == "settingsPage") ?? null;
    var siteName = settings?.Value<string>("siteName") ?? "";
    var siteLogotype = settings?.Value<IPublishedContent>("siteLogotype")?.Url() ?? "";
}

<div>
    <div class="container navbar">                  
        <a href="/home"><img src="@siteLogotype" alt="@siteName"/></a>
        <div class="navbar-objects"> 
            <a href="/about"><h5>About</h5></a>
            <a href="/services"><h5>Services</h5></a>
            <a href="/projects"><h5>Projects</h5></a>
            <a href="/contact"><h5>Contact</h5></a>
        </div>      
        <h5><i class="fa-solid fa-magnifying-glass"></i></h5>        
    </div>
</div>
