@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper;
@{
    var rootContents = UmbracoHelper.ContentAtRoot();
    var settings = rootContents?.FirstOrDefault(x => x.ContentType.Alias == "settingsPage") ?? null;
    var officeLocation  = settings?.Value<string>("officeLocation") ?? "";
    
}

<div id="header" class="topbar">
    <div class="container topbar-stuff">
        <div class="address">@officeLocation</div>  
        <div class="social-media">
            <a href="#" class="socialmedia-item"><i class="fa-brands fa-x-twitter"></i></a>  
            <a href="#" class="socialmedia-item"><i class="fa-brands fa-facebook-f"></i></a> 
            <a href="#" class="socialmedia-item"><i class="fa-brands fa-linkedin-in"></i></a> 
            <a href="#" class="socialmedia-item"><i class="fa-brands fa-youtube"></i></a>    
            @await Html.PartialAsync("socialmedia.cshtml")
        </div>
    </div>
</div>
