<header>
    <div class="topbar">
        <div class="container topbar-stuff">
            <div>  
                <p>Klarabergsviadukten 90, 111 64 Stockholm</p>
            </div>
            <div class="social">
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
            </div>
        </div>
    </div>
    <div>
        <div class="container navbar">                  
            <img href="/home" src="./design-test-imgs/BrandOna.svg" alt="Onatrix logo" />
            <div class="navbar-objects"> 
                <a href="/aboutPage"><h5>About</h5></a>
                <a href="/servicePage"><h5>Services</h5></a>
                <a href="/ourProjectsPage"><h5>Projects</h5></a>
                <a href="/contactPage"><h5>Contact</h5></a>
            </div>      
            <h5><i class="fa-solid fa-magnifying-glass"></i></h5>        
        </div>
    </div>
</header>