<?xml version="1.0" encoding="utf-8"?>
<Media Key="8192ff08-06be-419d-8d02-a43f2972319a" Alias="03.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-11T10:58:13</CreateDate>
    <NodeName Default="03.png" />
    <SortOrder>28</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/q20nin4x/03.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>