<?xml version="1.0" encoding="utf-8"?>
<Media Key="1a0c1550-9f85-4a55-8d76-50ec2e79d541" Alias="04.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-11T10:59:07</CreateDate>
    <NodeName Default="04.png" />
    <SortOrder>29</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/15pfvlhm/04.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>