<?xml version="1.0" encoding="utf-8"?>
<Media Key="08aa5c98-95c7-4a7e-98a5-c99fe0381f8d" Alias="05.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-11T10:59:52</CreateDate>
    <NodeName Default="05.png" />
    <SortOrder>30</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/c4lozpvo/05.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>