<?xml version="1.0" encoding="utf-8"?>
<Media Key="b0febd70-867d-41cf-8ab8-c8c607994d22" Alias="BrandOna.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BrandOnasvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-29T15:57:15</CreateDate>
    <NodeName Default="BrandOna.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qiafyutg/brandona.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>