<?xml version="1.0" encoding="utf-8"?>
<Media Key="a5d56a8f-f372-4414-8532-e595c26bdf41" Alias="BrandOnatr.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BrandOnatrjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-29T15:57:22</CreateDate>
    <NodeName Default="BrandOnatr.jpg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/acqjgey1/brandonatr.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>