<?xml version="1.0" encoding="utf-8"?>
<Media Key="49bba603-a23f-4e3e-a225-f6836cd1b919" Alias="dot-map 1.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/dotMap1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-05T12:37:20</CreateDate>
    <NodeName Default="dot-map 1.png" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/rrwp150w/dot-map-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>