<?xml version="1.0" encoding="utf-8"?>
<Media Key="258ec88e-db63-458c-a936-643881f50e85" Alias="gfhfgh.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/gfhfghpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-05T16:41:07</CreateDate>
    <NodeName Default="gfhfgh.png" />
    <SortOrder>26</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/aebmreyk/gfhfgh.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>