<?xml version="1.0" encoding="utf-8"?>
<Media Key="baf7ab3e-a0a1-42e9-bd8c-f8e6ccbb4d48" Alias="image-22-min 1.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/image22Min1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-18T20:07:03</CreateDate>
    <NodeName Default="image-22-min 1.png" />
    <SortOrder>33</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/wfqlcdgi/image-22-min-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>