<?xml version="1.0" encoding="utf-8"?>
<Media Key="445347e1-b0f3-4840-9467-ee852ed2c9f4" Alias="image-47 1.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/image471jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-29T15:57:28</CreateDate>
    <NodeName Default="image-47 1.jpg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/n0gbl2u0/image-47-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>