<?xml version="1.0" encoding="utf-8"?>
<Media Key="d786a67c-7ec1-4344-89a7-326cfaee69ca" Alias="image-47 1.jpg (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/image471jpg1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-23T17:35:56</CreateDate>
    <NodeName Default="image-47 1.jpg (1)" />
    <SortOrder>51</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/4nwmayni/image-47-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>