<?xml version="1.0" encoding="utf-8"?>
<Media Key="55d80a49-afde-456d-b5ca-31719061e0a8" Alias="image-21-min 1.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/image21Min1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-05T12:29:47</CreateDate>
    <NodeName Default="image-21-min 1.png" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/y1aj3y3x/image-21-min-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>