<?xml version="1.0" encoding="utf-8"?>
<Media Key="c12b91f1-8f19-4de4-9484-71af99769bb3" Alias="image-24-min 1.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/image24Min1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-18T20:07:26</CreateDate>
    <NodeName Default="image-24-min 1.png" />
    <SortOrder>35</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/pznh031q/image-24-min-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>