<?xml version="1.0" encoding="utf-8"?>
<Media Key="5cca0474-9b7d-4584-b47c-333a6e6bbc6a" Alias="image-47 1.jpg" Level="2">
  <Info>
    <Parent Key="7b7bdbea-c987-4790-afe9-9ed7124da563">Pics</Parent>
    <Path>/Pics/image471jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-29T15:56:43</CreateDate>
    <NodeName Default="image-47 1.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/5phiz0qu/image-47-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>