<?xml version="1.0" encoding="utf-8"?>
<Media Key="16779122-c1e1-4b2c-b045-9e0901b986ec" Alias="Img-1 1.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Img11png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-05T12:41:46</CreateDate>
    <NodeName Default="Img-1 1.png" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/vvnddiei/img-1-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>