<?xml version="1.0" encoding="utf-8"?>
<Media Key="6d690957-f408-4838-9b40-74388286e8ea" Alias="img_choose_01_home01 2.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/img_choose_01_home012jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-29T15:57:47</CreateDate>
    <NodeName Default="img_choose_01_home01 2.jpg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/1dbd5w1b/img_choose_01_home01-2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>