<?xml version="1.0" encoding="utf-8"?>
<Media Key="8cfb3b65-fccd-4417-be7b-f66737c4831d" Alias="Kevin-Gardner 1.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/KevinGardner1jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-29T15:57:59</CreateDate>
    <NodeName Default="Kevin-Gardner 1.jpg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/3lyl0ove/kevin-gardner-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>