<?xml version="1.0" encoding="utf-8"?>
<Media Key="a5f79d7f-7fca-44a6-92a8-e6a1f54f890d" Alias="Mask-Group-8 1.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MaskGroup81jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-29T15:58:05</CreateDate>
    <NodeName Default="Mask-Group-8 1.jpg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/4bllce3d/mask-group-8-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>