<?xml version="1.0" encoding="utf-8"?>
<Media Key="21a4dbb4-6ffe-4b30-a775-bb2368145008" Alias="OnlineSignatures.net-302 1.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/OnlineSignaturesnet3021png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-29T15:58:11</CreateDate>
    <NodeName Default="OnlineSignatures.net-302 1.png" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/hmipff2x/onlinesignaturesnet-302-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>