<?xml version="1.0" encoding="utf-8"?>
<Media Key="b1f3d796-f63c-470e-b1d9-53c487a4cc79" Alias="osnadlkj.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/osnadlkjpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-29T15:58:17</CreateDate>
    <NodeName Default="osnadlkj.png" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/deolkb0v/osnadlkj.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>