<?xml version="1.0" encoding="utf-8"?>
<Media Key="5a65b17d-41be-450f-9969-bb2f279e0bff" Alias="pj1.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/pj1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-05T16:25:36</CreateDate>
    <NodeName Default="pj1.png" />
    <SortOrder>25</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/4j3dh1gx/pj1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>