<?xml version="1.0" encoding="utf-8"?>
<Media Key="0f7b5439-73aa-4b4e-8911-5cd556b849a2" Alias="pj1aa.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/pj1aapng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-20T15:41:26</CreateDate>
    <NodeName Default="pj1aa.png" />
    <SortOrder>45</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/w0pd1ood/pj1aa.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>