<?xml version="1.0" encoding="utf-8"?>
<Media Key="340d6462-5ff1-47c6-bbcd-a2ea48b22b7e" Alias="pj222.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/pj222png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-20T15:37:27</CreateDate>
    <NodeName Default="pj222.png" />
    <SortOrder>42</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/3wxexauy/pj222.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>