<?xml version="1.0" encoding="utf-8"?>
<Media Key="e7ceb08c-c752-4944-89f6-1bdbebc36a3b" Alias="pj3.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/pj3png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-20T15:37:59</CreateDate>
    <NodeName Default="pj3.png" />
    <SortOrder>43</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/an3iquj1/pj3.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>