<?xml version="1.0" encoding="utf-8"?>
<Media Key="b762495e-f10e-4e94-acf4-3b90e951fbf3" Alias="pj4jkj.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/pj4jkjpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-20T11:22:11</CreateDate>
    <NodeName Default="pj4jkj.png" />
    <SortOrder>41</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/0gbdialh/pj4jkj.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>