<?xml version="1.0" encoding="utf-8"?>
<Media Key="aa656e56-22c8-49c3-8e4c-2b16b5fca181" Alias="post2 1.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/post21png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-13T15:59:27</CreateDate>
    <NodeName Default="post2 1.png" />
    <SortOrder>32</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/1gscghfb/post2-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>