<?xml version="1.0" encoding="utf-8"?>
<Media Key="1bea1b03-c900-4ec0-9aca-11bab8653c13" Alias="Skärmbild 2024-07-10 142413.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Skaermbild20240710142413png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-30T11:15:44</CreateDate>
    <NodeName Default="Skärmbild 2024-07-10 142413.png" />
    <SortOrder>55</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/rtilzllj/skaermbild-2024-07-10-142413.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>