<?xml version="1.0" encoding="utf-8"?>
<Media Key="9fa3f88c-b3d5-4d3d-b935-33181f6395b3" Alias="smile-tri" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/smileTri</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-23T08:51:08</CreateDate>
    <NodeName Default="smile-tri" />
    <SortOrder>49</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/amzokkn2/smilie-triangle.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>