<?xml version="1.0" encoding="utf-8"?>
<Media Key="0b1b4d44-c803-447d-bf48-bbfe99c2204b" Alias="smilee" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/smilee</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-23T08:50:10</CreateDate>
    <NodeName Default="smilee" />
    <SortOrder>48</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/zodf1plk/smaile.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>