<?xml version="1.0" encoding="utf-8"?>
<Media Key="03a14543-1353-416d-90f1-d2861b5aa61e" Alias="smile" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/smile</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-23T08:49:17</CreateDate>
    <NodeName Default="smile" />
    <SortOrder>47</SortOrder>
  </Info>
  <Properties />
</Media>