<?xml version="1.0" encoding="utf-8"?>
<Media Key="e3c22fb7-03b7-4999-b08b-082a6db68afa" Alias="tghyj.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/tghyjpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-29T15:58:35</CreateDate>
    <NodeName Default="tghyj.png" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/hdsjivo4/tghyj.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>