<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ff7c2c9f-333e-492c-9f27-21ae44e120be" Alias="Button - Button Type " Level="1">
  <Info>
    <Name>Button - Button Type </Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "submit",
    "reset"
  ]
}]]></Config>
</DataType>