<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3d1e5d67-8d88-46d2-b66b-fee54322a5e3" Alias="Contact Us Page - Contact Form - Block List" Level="1">
  <Info>
    <Name>Contact Us Page - Contact Form - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "10ec9a77-507e-4e2e-99cc-8064cd59b6b2",
      "label": "InputText - {=uniqueName}"
    },
    {
      "contentElementTypeKey": "e794a20d-1eef-4fce-8de8-90889afb62c8",
      "label": "InputPassword - {=uniqueName}"
    },
    {
      "contentElementTypeKey": "10941935-3a5f-4c6b-a289-f0ff00d71f50",
      "label": "InputTextArea - {=uniqueName}"
    },
    {
      "contentElementTypeKey": "20770f1e-f3a8-472b-9df4-8b6ed1dbc075",
      "label": "Button- {=buttonType}"
    }
  ]
}]]></Config>
</DataType>