<?xml version="1.0" encoding="utf-8"?>
<DataType Key="64442783-0ba0-4e42-8245-4b7d37145e97" Alias="Image Slider  - Slides" Level="1">
  <Info>
    <Name>Image Slider  - Slides</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "8f9c515c-3be9-4f78-af18-6e94774c5be7",
      "label": "**slide item** - {=imageDescription}"
    }
  ]
}]]></Config>
</DataType>