<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d81a7e97-1007-43f0-bde2-a04ccd4b40e5" Alias="Input Text - Input Type" Level="1">
  <Info>
    <Name>Input Text - Input Type</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "text",
    "phone",
    "email"
  ]
}]]></Config>
</DataType>