<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0d0a1311-e8e6-4566-832d-66d40297a2b7" Alias="Modular Page - Layout" Level="1">
  <Info>
    <Name>Modular Page - Layout</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "key": "9cafd252-7da5-4e49-a29f-5e46600bf168",
      "name": "Containers"
    },
    {
      "key": "0cb7d668-e5e2-485d-b780-e69cb33ccf2d",
      "name": "Components"
    },
    {
      "key": "92a33ce6-5dc2-484f-be6f-ce0d6e97ddf2",
      "name": "Content"
    }
  ],
  "blocks": [
    {
      "contentElementTypeKey": "aeb38633-f71b-4515-8f86-d8995ef144d5",
      "allowAtRoot": false,
      "groupKey": "92a33ce6-5dc2-484f-be6f-ce0d6e97ddf2",
      "label": "heading 6",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "f08af4a3-aaeb-4442-a5c6-c24af739406c",
      "allowAtRoot": false,
      "groupKey": "92a33ce6-5dc2-484f-be6f-ce0d6e97ddf2",
      "label": "heading 5",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "17d20368-df21-4efb-9b7e-3cb30e116acd",
      "allowAtRoot": false,
      "groupKey": "92a33ce6-5dc2-484f-be6f-ce0d6e97ddf2",
      "label": "heading 4",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "72a837f3-17f6-40db-8f24-d6e29437d889",
      "allowAtRoot": false,
      "groupKey": "92a33ce6-5dc2-484f-be6f-ce0d6e97ddf2",
      "label": "heading 3",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "afca8a15-cbaf-404d-9449-c76e61964b8d",
      "allowAtRoot": false,
      "groupKey": "92a33ce6-5dc2-484f-be6f-ce0d6e97ddf2",
      "label": "heading 2",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "2b4d0299-094c-475a-941b-ed7c637d71b3",
      "allowAtRoot": false,
      "groupKey": "92a33ce6-5dc2-484f-be6f-ce0d6e97ddf2",
      "label": "heading 1",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "a1e6f75a-7177-42c9-ac25-a444c264ed08",
      "allowAtRoot": false,
      "groupKey": "92a33ce6-5dc2-484f-be6f-ce0d6e97ddf2",
      "allowInAreas": true,
      "label": "button link"
    },
    {
      "contentElementTypeKey": "ff57633d-c69a-4ba4-9ea9-bc67237d24f6",
      "allowAtRoot": false,
      "groupKey": "92a33ce6-5dc2-484f-be6f-ce0d6e97ddf2",
      "label": "image HTML element",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "e75f4070-ceb3-422c-b808-e7c7ff1ca021",
      "allowAtRoot": false,
      "groupKey": "92a33ce6-5dc2-484f-be6f-ce0d6e97ddf2",
      "label": "link",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "d9abd21a-6c97-4eb5-9b07-b7d2fb4a6640",
      "allowAtRoot": false,
      "groupKey": "92a33ce6-5dc2-484f-be6f-ce0d6e97ddf2",
      "allowInAreas": true,
      "label": "paragraph"
    },
    {
      "contentElementTypeKey": "6e035d03-d197-4cae-a6a4-cd7a0140aba6",
      "allowAtRoot": false,
      "groupKey": "92a33ce6-5dc2-484f-be6f-ce0d6e97ddf2",
      "label": "quotation",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "e615ed43-d603-4b2d-a1b7-39271354166e",
      "allowAtRoot": false,
      "groupKey": "92a33ce6-5dc2-484f-be6f-ce0d6e97ddf2",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "4a26a893-c681-4360-9de0-ec79860e9754",
      "allowAtRoot": true,
      "label": "Section - **{=sectionTitle}**",
      "areas": [
        {
          "key": "28289bf7-8b15-4c8f-9599-861cfc5ddd7d",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "minAllowed": 0
            }
          ]
        }
      ],
      "groupKey": "9cafd252-7da5-4e49-a29f-5e46600bf168",
      "columnSpanOptions": [
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 2
        }
      ]
    },
    {
      "contentElementTypeKey": "5c80a51d-e50b-45d1-ba84-e8ca60fee92e",
      "allowAtRoot": true,
      "groupKey": "9cafd252-7da5-4e49-a29f-5e46600bf168",
      "label": "Section - **{=sectionTitle}**",
      "areas": [
        {
          "key": "f05e3511-d16d-4b4f-8191-256dfa5f2b03",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "f9b9a91c-e22d-4f49-877b-11bb7f8e021f",
      "allowAtRoot": true,
      "groupKey": "9cafd252-7da5-4e49-a29f-5e46600bf168",
      "label": "section container",
      "areas": [
        {
          "key": "b1190290-9ea9-4426-8381-6a4ff0c3cab2",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "minAllowed": 0
            }
          ]
        }
      ],
      "columnSpanOptions": [
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 1
        }
      ]
    },
    {
      "contentElementTypeKey": "46794fb6-4b13-4f79-a8bd-f015280cc06d",
      "allowAtRoot": false,
      "groupKey": "9cafd252-7da5-4e49-a29f-5e46600bf168",
      "allowInAreas": true,
      "areas": [
        {
          "key": "4e550449-138e-4a35-9148-97fd9bb7eba0",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "3d19836b-04bd-4be8-861c-740556ecaeba",
      "allowAtRoot": false,
      "groupKey": "9cafd252-7da5-4e49-a29f-5e46600bf168",
      "allowInAreas": true,
      "areas": [
        {
          "key": "e8a880b5-3307-410e-acaa-bf898422235a",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "columnSpanOptions": [
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 1
        }
      ]
    },
    {
      "contentElementTypeKey": "ed3b672f-7055-4dc1-91b7-0d4288e2057c",
      "allowAtRoot": false,
      "groupKey": "9cafd252-7da5-4e49-a29f-5e46600bf168",
      "allowInAreas": true,
      "areas": [
        {
          "key": "41c1fa18-221b-4d82-b2f9-1fcdd0f491df",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "3d4a8143-4f72-4ea4-8ea3-c4806210d16d",
      "allowAtRoot": false,
      "groupKey": "9cafd252-7da5-4e49-a29f-5e46600bf168",
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        }
      ],
      "areas": [
        {
          "key": "fbac9555-8c42-4475-8735-3e15c9f9e6e3",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "95d61f5b-0ee0-4900-bc48-0a13aa312868",
      "allowAtRoot": false,
      "groupKey": "0cb7d668-e5e2-485d-b780-e69cb33ccf2d",
      "label": "image slider",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "27042ee6-759b-4ccc-aee7-7496e9eae5ef",
      "allowAtRoot": true,
      "groupKey": "0cb7d668-e5e2-485d-b780-e69cb33ccf2d"
    },
    {
      "contentElementTypeKey": "36da29b4-1108-4590-addb-ce2672c066b1",
      "allowAtRoot": false,
      "groupKey": "0cb7d668-e5e2-485d-b780-e69cb33ccf2d",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "182d77bb-f56d-453a-87f3-80cc86ed0b8e",
      "allowAtRoot": true,
      "groupKey": "0cb7d668-e5e2-485d-b780-e69cb33ccf2d",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "17f28c71-8481-49b8-804f-82fdb6cf799a",
      "allowAtRoot": true,
      "groupKey": "0cb7d668-e5e2-485d-b780-e69cb33ccf2d",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "df399e55-73f5-4ba4-83a6-6290f624700b",
      "allowAtRoot": true,
      "groupKey": "0cb7d668-e5e2-485d-b780-e69cb33ccf2d",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "8ad5d728-73da-480c-94a8-13fb3c082c06",
      "allowAtRoot": false,
      "groupKey": "0cb7d668-e5e2-485d-b780-e69cb33ccf2d",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "c58bdb69-ca92-4a80-96f0-981a64318ba4",
      "allowAtRoot": true,
      "groupKey": "0cb7d668-e5e2-485d-b780-e69cb33ccf2d",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "be181ae6-3926-454f-99ad-25d269558eb1",
      "allowAtRoot": true,
      "groupKey": "0cb7d668-e5e2-485d-b780-e69cb33ccf2d",
      "allowInAreas": true
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>