<?xml version="1.0" encoding="utf-8"?>
<DataType Key="613777bc-677f-48d8-ad6b-ea6d687407cd" Alias="Our Experts - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Our Experts - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "fdc1839b-3d16-4504-bdfb-91962af7e890"
    }
  ]
}]]></Config>
</DataType>