<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a9af2449-a924-4404-99f5-7692ac8304d9" Alias="Settings Page - Social Media Platform" Level="1">
  <Info>
    <Name>Settings Page - Social Media Platform</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "19feace8-f71a-42ad-83f4-980fa6b63c7b",
      "label": "**{=platformName}** - {=platformAccountUrl}"
    }
  ]
}]]></Config>
</DataType>