<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3a5acdec-b98c-42c8-b058-e9f3aaa5a76c" Alias="Social Media Item Dropdown List" Level="1">
  <Info>
    <Name>Social Media Item Dropdown List</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Facebook",
    "Instagram",
    "LinkedIn",
    "TikTok",
    "X ",
    "YouTube"
  ]
}]]></Config>
</DataType>