<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f0c874d9-a196-45a3-b485-b2defc014962" Alias="Stars - Slider" Level="1">
  <Info>
    <Name>Stars - Slider</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Slider</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "enableRange": false,
  "initVal1": 0,
  "initVal2": 0,
  "maxVal": 5,
  "minVal": 1,
  "step": 1
}]]></Config>
</DataType>