#about-us{
   
    h6{
        padding-top: 1rem;
    }

    img{
        padding-bottom: 1rem;
    }
   

    @include desktop{
     
        .container{            
            
            h6{                
                padding-top: 8rem;
            }
    
            h2{             
                padding-bottom: 1rem;
            }

            img{
                padding-top: 1.5rem;
                margin-left: -1rem;                              
            }

            p{
                padding-bottom: 3rem;              
            }
        }        
    }  
}
