#about-us{
   
    h6{
        padding-top: 1rem;
    }
    .background-image{
        padding-top: 10rem;    
    }

    @include desktop{
     
        .container{            
            
            h6{                
                padding-top: 5rem;
            }
    
            h2{             
                padding-bottom: 1rem;
            }

            img{
                padding-top: 1.5rem;
                padding-bottom: 12.5rem;
            }

            p{
                padding-bottom: 4rem;

            }
        }        
    }  
}
