.topbar{
    background-color: var(--color-primary);
    color: var(--color-gray);

    .address{
        padding-top: 1.1rem;
        padding-bottom: 0rem;
    }
    

    .topbar-stuff{
       
        display: flex;
        justify-content: space-between;

        .social-media{
              
            .socialmedia-item{
                padding-right: 1rem;
                padding-top: 1rem;
                padding-bottom: 1rem;              

                &:hover{
                    color: var(--color-accent);
                }

            }
        }
    }
    
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;

    .search{
        padding-top: 1rem;
    }

    .navbar-objects{
        display: none;
        padding-top: 1rem;

        @include desktop{
            display: flex;
        }
        
        a{
            padding-right: 2rem;
   
            &:hover{
                color: var(--color-secondary) !important;
            }
        }
    }

}
