#hero-slider {
    
    width: 100%;
    height: auto;
    overflow: hidden;
  
    .img {
      position: absolute;
      top: 0;
      left: 0;
      width: 10%;
      height: auto;
      min-height: 400px;
      object-fit: cover;
      z-index: -1;
    }
  
    .container {
        position: relative;
        z-index: 1;

        @include desktop {
            margin-top: -25rem;

        }
   
            h1 {          
                @include desktop {
                    max-width: 100%;                 
                    margin-top: 3rem;
                }
            }
    
            a {

                @include btn;
                background-color: var(--color-primary);         
                margin-bottom: 1rem;

                @include desktop {
                margin-top: 3rem;
                margin-bottom: 3rem;
                }
            }
        
    }
}
  