#mr-smile{
    display: flex;
    flex-direction: row;     

    .content{
        display: flex;
        flex-direction: row;    
        
        .east-side{
            padding-top: 3rem;
            padding-bottom: 3rem;

            .smol-things{
                
                .smol-thing{
                    display: flex;

                    i{
                        padding-right: 1rem;
                    }
                }
            }
        }
    }

    @include desktop{
        display: flex;
    }
}
