#services{
    .container{

        .top-text{
            text-align: center;
            padding-top: 2rem;
            padding-bottom: 2rem;
        }

        .cards{
            display: grid;
            grid-template-columns: 1fr;

            @include tablet{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }
            
            
            @include desktop{
                display: grid;
                grid-template-columns: repeat(3, 1fr);             
            }



            .card{
                border: 1px solid var(--color-dark);
                max-width: 30rem;
                margin: 1rem;

                h4{
                    padding: 1.8rem 1.8rem 1.5rem 1.8rem;

                }

                img{
                    max-width: 30rem;   
                }

                p{
                    padding: 1rem 1.8rem 1.8rem 1.8rem;
                }

            }
        }
    }
}