#our-projects{
    .container{
        text-align: center;

        .pagination {
            .container {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                padding: 20px;
        
                .change {                              
                    text-decoration: none;
                    transition: background-color 0.3s;
                    padding-left: 2rem;
                    padding-right: 2rem;
                    color: var(--color-dark);
        
                    &:hover {                 
                        color: var(--color-secondary);
                    }
        
                    &.inactive {
                        color: var(--color-accent);
                        pointer-events: none;
                    }
                }
                   
                .pages {
                    display: flex;
                    justify-content: center;
                    list-style: none;
                    padding: 0;
                    margin: 0;                  
        
                    .number {
                       
                        a {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin: 1rem;
                            width: 3.5rem;
                            height: 3.5rem;
                            border: 1px solid gray;
                            border-radius: 50%;
                            text-align: center;
                            font-size: 16px;
                            color: black;
                            text-decoration: none;
                                                     
                            &:hover {             
                                background-color: var(--color-gray);
                            }
                        }                       
                    }
                }
            }
        }

        .projects {
            .projects-item {
                border-bottom: 1px solid #00000025;
                margin: 1rem;
                padding-bottom: 1rem;
                display: block; 
                max-width: 100%; 
        
                img {
                    width: 100%; 
                    height: auto; 
                    margin-bottom: 1rem;
                }
        
                .text {
                    width: 100%;
                    text-align: center; 
                    padding-left: 0;
                    display: flex;
                    flex-direction: column;
        
                    .projects-header {
                        padding-top: 1rem;
                        text-align: center;
                    }
        
                    .date {
                        color: gray;
                        justify-content: center; 

                        i{
                            padding-right: 0.6rem;
                        }                 
                    }
        
                    .projects-footer {
                        justify-content: center; 
                        color: var(--color-dark);
                        text-align: center;
                    }
                }
            }
        
            
            @include desktop {
                .projects-item {
                    display: flex; 
                    align-items: stretch;
                    max-width: 50rem;
                    max-height: 15rem; 
                    padding-bottom: 2rem;
        
                    img {
                        width: 100%;
                        height: 100%; 
                        object-fit: cover; 
                        overflow: hidden;
                    }
        
                    .text {
                        text-align: left;
                        padding-left: 1.8rem;

                        .projects-header{
                            text-align: left;
                        }

                        .projects-footer{
                            text-align: left;
                        }
                    
                    }
                }
            }
        }
        
    }
}