.btn-dark, .btn-secondary, .btn-accent, .btn-primary, .btn-gray, .btn-light {
    @include btn;
}


.btn-menu {
    @include btn-circle;
    
    height: 50px;
    width: 55px;
    font-size: 1.6rem;
}