@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
	Layout = "mainLayout.cshtml";
}

<section id="about-us-header">
    <div class="about-header">
        <h2>About Us</h2>
        <p>Home > <span>About</span></p>
    </div>
</section>

<section id="tina-fox-text">
    <div class="container content">
        <div class="to-the-left">
            <img src="./design-test-imgs/img_choose_01_home01 1.png" alt="Tina Fox" />
            <p>Tina Fox - CEO and flounder</p>
        </div>
        <div class="to-the-right">
            <div class="cursive-text">
                <p>“We have over 25 years of experience providing expert financial advice to both businesses and individuals.”</p>
            </div>
            <div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non beatae mollitia eius quae deleniti provident ut dolores officia, ea ex assumenda velit, aut dolor. Corrupti, optio voluptatem natus aliquid magnam temporibus ex tempore recusandae molestias, illo obcaecati? Consequuntur distinctio quae, esse illum quo quaerat totam ullam veritatis voluptatem fugit quibusdam.</p>
            </div>
        </div>
    </div>      
</section>

<section id="great-reviews">
    <div class="container to-the-left-to-the-left">
        <h6>GREAT REVIEWS FOR EERYONE</h6>
        <h2>Trusted by big whales names</h2>
        <p class="cursive">Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing. Holistically pontificate installed base portals.</p>
        <div class="stars">
            <i class="fa-sharp fa-solid fa-star"></i>
            <i class="fa-sharp fa-solid fa-star"></i>
            <i class="fa-sharp fa-solid fa-star"></i>
            <i class="fa-sharp fa-solid fa-star"></i>
            <i class="fa-sharp fa-solid fa-star"></i>
        </div>
        <p>Kevin Bacon</p>
        <p>Swedbank</p>
    </div>
    <div class="to-the-right-to-the-right">
        <img src="./design-test-imgs/kevin-gardner.png" alt="this man Kevin Gardner" />
    </div>
</section>

<section id="our-expert">
    <div class="container content">
        <div class="top-text">
            <h6>OUR EXPERT</h6>
            <h2>A team of years including inexperience professionals</h2>
        </div>
        <div class="cards">
            <div class="three-cards">
                <div class="card">
                    <img src="./design-test-imgs/image-47 1.jpg"/>
                    <h5>Brandon Newton</h5>
                    <p>Financial Advisor Onatrix</p>
                </div>
                <div class="card">
                    <img src="./design-test-imgs/image-47 1.jpg"/>
                    <h5>Brandon Newton</h5>
                    <p>Financial Advisor Onatrix</p>
                </div>
                <div class="card">
                    <img src="./design-test-imgs/image-47 1.jpg"/>
                    <h5>Brandon Newton</h5>
                    <p>Financial Advisor Onatrix</p>
                </div>
            </div>
            <div class="four-cards">
                <div class="card">
                    <img src="./design-test-imgs/image-47 1.jpg"/>
                    <h5>Brandon Newton</h5>
                    <p>Financial Advisor Onatrix</p>
                </div>
                <div class="card">
                    <img src="./design-test-imgs/image-47 1.jpg"/>
                    <h5>Brandon Newton</h5>
                    <p>Financial Advisor Onatrix</p>
                </div>
                <div class="card">
                    <img src="./design-test-imgs/image-47 1.jpg"/>
                    <h5>Brandon Newton</h5>
                    <p>Financial Advisor Onatrix</p>
                </div>
                <div class="card">
                    <img src="./design-test-imgs/image-47 1.jpg"/>
                    <h5>Brandon Newton</h5>
                    <p>Financial Advisor Onatrix</p>
                </div>           
             </div>           
        </div>
    </div>
</section>

<section id="mr-smile">
	<div class="west-side">
		<img src="./design-test-imgs/Img-"
	</div>
</section>