@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "mainLayout.cshtml";
	ViewBag.Title = Model.Value("pageTitle");
}

<section id="contact-us">
    <div class="container">
        <h1>@ViewBag.Title</h1>
        <h2>there is no spoon</h2> 
    </div>
</section>