@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "mainLayout.cshtml";
	ViewBag.Title = Model?.Value("pageTitle") ?? null;

	var backgroundImage = Model?.Value<IPublishedContent>("heroBackgroud")?.Url() ?? "";
	var sinatureImage = Model?.Value<IPublishedContent>("aboutSignature")?.Url() ?? "";
}



<section id="hero-slider" class="hero">
	<div class="background" style="background-image:url(@backgroundImage); background-size: cover; background-position: 60%"></div>
  <img class="background" src="@backgroundImage" alt="pic here" />
	<div class="container">
		<div class="hero-content">
			<h1 class="headline">@Model?.Value("heroHeadline")</h1>
			<p class="ingress">@Model?.Value("heroText")</p>
			<div>
				<a href="@Model?.Value("heroButtonUrl")" class="btn btn-primary">@Model?.Value("heroButtonText")</a>
			</div>
		</div>
	</div>
</section>
		
<section id="about-us" class="about-us">
	<div class="container">
		<div class="content">
			<div class="headline">
				<h6>@Model?.Value("aboutPretext")</h6>
				<h2>@Model?.Value("aboutHeadline")</h2>
			</div>
			<blockquote class="quote">@Model?.Value("aboutCursiveText", fallback: Fallback.ToAncestors)</blockquote>
			<p>@Model?.Value("aboutSmallText")</p>
			<div class="signature-container">
				<div class="signature">
					<img class="signature-image" src="@sinatureImage" alt="@Model?.Value("aboutSignatureText")" />
					<div class="clarification">
						<p class="name">@Model?.Value("aboutSignatureText")<span>founder and CEO</span></p>
					</div>
				</div>
			</div>
		</div>
		<div class="form-container">
		</div>
	</div>
</section>

<section id="services" class="services">
    <div class="container">
        <div>
            <h6>@Model?.Value("servicesPretext")</h6>
            <h2>@Model?.Value("servicesHeadline")</h2>
        </div>
        <div class="service-cards">
            <span>all cards will be heeeeeere</span>
        </div>
    </div>
</section>


						