@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = null;
	var keywordsList = Model.Value<IEnumerable<string>>("pageKeywords");
	var keywords = keywordsList != null ? string.Join(", ", keywordsList) : "";
	var pageTitle = !string.IsNullOrEmpty(ViewBag.Title) ? $"{ViewBag.Title} | Onatrix - Very Financial" : "Onatrix - Very Financial";
	
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://kit.fontawesome.com/a576612222.css" crossorigin="anonymous"> 
    <link rel="stylesheet" href="/css/main.css">  

    <title>@pageTitle</title>
	<meta name="description" content="@Model.Value("pageDescription")">
	<meta name="keywords" content="@keywords">
</head>

<body>
	<div class="wrapper">
		<header>
			<div class="topbar">
				<div class="container topbar-stuff">
					<div>  
						<p>Klarabergsviadukten 90, 111 64 Stockholm</p>
					</div>
					<div class="social">
						<a href="#"><i class="fa-brands fa-facebook-f"></i></a>
						<a href="#"><i class="fa-brands fa-x-twitter"></i></a>
						<a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
					</div>
				</div>
			</div>
			<div>
				<div class="container navbar">                  
					<img href="/home" src="./design-test-imgs/BrandOna.svg" alt="Onatrix logo" />
					<div class="navbar-objects"> 
						<a href="/aboutPage"><h5>About</h5></a>
						<a href="/servicePage"><h5>Services</h5></a>
						<a href="/ourProjectsPage"><h5>Projects</h5></a>
						<a href="/contactPage"><h5>Contact</h5></a>
					</div>      
					<h5><i class="fa-solid fa-magnifying-glass"></i></h5>        
				</div>
			</div>
		</header>
		<main>
			@RenderBody()
		</main>
		<footer>
			<div class="footer">
				<div class="container">
					<p>© Onatrix. All Rights Reserved. Credits to <span>Themesflat</span></p>
				</div>
			</div>
		</footer>
	</div>
	<script src="/scripts/main.js"></script>
</body>
</html>

