@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "mainLayout.cshtml";
}

<section id="service-header">
    <div class="service-headerr">
        <h2>Our Services </h2>
        <p>Home > <span>Services</span></p>
    </div>
</section>

<section id="services" class="services">
    <div class="container">
        <div class="top-text">
            <h6>@Model?.Value("servicesPretext")</h6>
            <h2>@Model?.Value("servicesHeadline")</h2>
        </div>
        <div class="service-cards">
            <div class="cards">
                <div class="card">
                    <h4>Risk Management</h4>
                    <img src="./design-test-imgs/image-21-min 1.png" alt="Risk Management" />
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis doloribus eos iusto,</p>
                </div>
                <div class="card">
                    <h4>Risk Management</h4>
                    <img src="./design-test-imgs/image-21-min 1.png" alt="Risk Management" />
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis doloribus eos iusto,</p>
                </div>
                <div class="card">
                    <h4>Risk Management</h4>
                    <img src="./design-test-imgs/image-21-min 1.png" alt="Risk Management" />
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis doloribus eos iusto,</p>
                </div>
                <div class="card">
                    <h4>Risk Management</h4>
                    <img src="./design-test-imgs/image-21-min 1.png" alt="Risk Management" />
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis doloribus eos iusto,</p>
                </div>
                <div class="card">
                    <h4>Risk Management</h4>
                    <img src="./design-test-imgs/image-21-min 1.png" alt="Risk Management" />
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis doloribus eos iusto,</p>
                </div>
                <div class="card">
                    <h4>Risk Management</h4>
                    <img src="./design-test-imgs/image-21-min 1.png" alt="Risk Management" />
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis doloribus eos iusto,</p>
                </div>
            </div>          
        </div>
    </div>
</section>

<section id="mr-smile">
    <div class="container content">
        <div class="west-side">
            <img src="./design-test-imgs/john.png" />
        </div>
        <div class="east-side">
            <h2>Let us know about your next tax fraud</h2>
            <div class="smol-things">
                <div class="smol-thing">
                    <span><i class="fa-sharp fa-light fa-location-dot"></i></span>
                    <div class="sfuff">
                        <h5>Office location</h5>
                        <p>Klarabergsviadukten 90, 111 52 Stockholm</p>
                    </div>             
                </div> 
                <div class="smol-thing">
                    <span><i class="fa-sharp fa-light fa-location-dot"></i></span>
                    <div class="sfuff">
                        <h5>Office location</h5>
                        <p>Klarabergsviadukten 90, 111 52 Stockholm</p>
                    </div>             
                </div>
                <div class="smol-thing">
                    <span><i class="fa-sharp fa-light fa-location-dot"></i></span>
                    <div class="sfuff">
                        <h5>Office location</h5>
                        <p>Klarabergsviadukten 90, 111 52 Stockholm</p>
                    </div>             
                </div>
            </div>
        </div>
    </div>
</section>