@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage


@{
	Layout = "mainLayout.cshtml";
    ViewBag.Title = Model.Name;

    var image = Umbraco.Media(Guid.Parse("664233f6-2c5e-494e-9f6d-70002772a24e")) as Image;
}

@if (!string.IsNullOrEmpty(ViewBag.Title))
{
    @await Html.PartialAsync("partials/static/breadcrumb.cshtml")
}

<section id="service-details">
    <div class="container">
        <aside>
            <div class="aside-content">
                <h4>About us</h4>
                <img src="@image.Url()">
                <p>Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non </p>
                @await Html.PartialAsync("partials/static/supportBox.cshtml") 
            </div>
        </aside>
        <div class="explosive-content">
             @Model.Value("pageContent")
        </div>
    </div>
</section>

@await Html.PartialAsync("partials/static/serviceItemForm.cshtml")
@await Html.PartialAsync("partials/static/mrSmile.cshtml")



