@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "servicePage.cshtml";
}
<section id="single-service-header">
    <div class="single-service-headerr">
        <h2>Our Services </h2>
        <p>Home > <span>Services</span></p>
    </div>
</section>